<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/code.css">
    <title>CodeGenerator</title>
</head>
<body>
    <h1>코드 랜덤 생성기</h1>
    <h2 class='code'></h2>
    <div>
        <p>코드 종류 결정</p>
        <button class="all">전체</button>
        <button class="major">메이저</button>
        <button class="minor">마이너</button>
        <button class="dim">디미니쉬</button>
        <button class="aug">어그먼트</button>
        <button class="seventh">세븐스</button>
        <button class="sus4">서스포</button>
    </div>
    <div>
        <p>시간 간격 설정</p>
        <button class="three">3초</button>
        <button class="five">5초</button>
        <button class="ten">10초</button>
        
    </div>
    <script src="/js/codegen.js"></script>
</body>
</html>