<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/code.css">
    <title>CodeGenerator</title>
</head>
<body>
    <h1 class="title">코드 랜덤 생성기</h1>
    <div id="container">
        <h2 class='code'></h2>
        <button class="next btn">다음</button>
    </div>
    
    <div>
        <h3 class="code_setting">코드 종류 설정(클릭)</h3>
        <div class="code_container">
            <button class="all btn">전체</button>
            <button class="major btn">메이저</button>
            <button class="minor btn">마이너</button>
            <button class="dim btn">디미니쉬</button>
            <button class="aug btn">어그먼트</button>
            <button class="seventh btn">세븐스</button>
            <button class="sus4 btn">서스포</button>
    </div>
    </div>
    <div>
        <h3 class="time_setting">시간 간격 설정</h3>
        <div class="set_container">
            <button class="manual btn">수동</button>
            <div>
                <input class="user_input" placeholder="원하는 시간 입력" type="text">
                <div class="interval">시간간격 : </div>
            </div>
            
        </div>
    </div>
    <script src="/js/codegen.js"></script>
</body>
</html>