<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/code.css">
    <title>CodeGenerator</title>
</head>
<body>
    <h1 class="title">코드 랜덤 생성기</h1>
    <h2 class='code'></h2>
    <div>
        <p class="setting">코드 종류 결정</p>
        <button class="all btn">전체</button>
        <button class="major btn">메이저</button>
        <button class="minor btn">마이너</button>
        <button class="dim btn">디미니쉬</button>
        <button class="aug btn">어그먼트</button>
        <button class="seventh btn">세븐스</button>
        <button class="sus4 btn">서스포</button>
    </div>
    <div>
        <p class="setting">시간 간격 설정</p>
        <button class="three btn">3초</button>
        <button class="five btn">5초</button>
        <button class="ten btn">10초</button>
        
    </div>
    <script src="/js/codegen.js"></script>
</body>
</html>