<!DOCTYPE html>
<html>
  <%- include('./partial/head.ejs') %>
    
    <div id="for_align">
      <ul id='mainContainer'>
      <% if (date.length !== 0){%>
          <% for (var i=0;i<date.length;){ %>
              <li class="scheduleContainer">
                <div>
                  <h3 class="date"><%= date[i]%></h3>
                  <p class="description" ><%=description[i]%></p>
                </div>  
              
              <% if(todays[0]!==undefined){%>

              <% }else{%>
                <form class='delete_form' action="/delete_process" method="post">
                  <input type="hidden" name="date"value="<%= date[i]%>"> 
                  <input class="btn delete" type="submit" value="삭제"></input>
                </form>
              <% } %> 
                
          </li>
              <% i = i+1 %>
          <%}%>
          <%}else{%>
              <li class="scheduleContainer">
                <h3 class="date">일정 입력</h3>
                <p class="description">일정 만들기를 클릭하세요</p>
              </li>
            <%}%>
      </ul>
    </div>
    <script src="/js/date.js"></script>
    <script src="/js/ajax.js"></script>
    


      
      
  </body>
</html>