@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Do+Hyeon&family=Noto+Sans&family=Noto+Sans+KR&display=swap');
.title{
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
}
.code{
    text-align: center;
    font-size: 50px;
}
.setting{
    font-family: 'Noto Sans KR', sans-serif;
}
.btn {
    width: 80px;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 20px;
    border: none;
    background-color: #394B61;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    color: white;
  }

#container{
    text-align: center;
}

.next{
    
    display: none;
}

.code_container{

    display: none;
}

.user_input{
    width: 100px;
}

.interval{
    font-family: 'Noto Sans KR', sans-serif;
}

.manual{
    margin-bottom: 10px;
}

.show{
    display: grid;
    grid-row-gap: 5px;
}
@media screen and (max-width: 480px) {
    .title{
        font-size: 35px;
    }
}