body {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
a:link {
  color: black;
}

a:visited {
  color: black;
}
#done {
  display: inline;
}

h3 {
  display: inline;
}

#title {
  text-align: center;
}

#mainContainer {
  padding-left: 0px;
}
.scheduleContainer {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-width: 0.7px;
  list-style: none;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}
.for_create {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.create_btn {
  font-size: 35px;
  color: tomato;
  padding: 5px 10px 5px 10px;
}

.btn {
  border-radius: 20px;
  border: none;
  background-color: tomato;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  color: white;
}

.month {
  list-style: none;

  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.month_container {
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-template-rows: 30px;
}

#create {
  justify-content: center;
  display: grid;
  row-gap: 10px;
  grid-template-columns: minmax(auto, 700px);
}

#update{
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  display: grid;
  row-gap: 10px;
  grid-template-columns: minmax(auto, 700px);
}

.update_date{
  text-align: center;
}

.delete_form {
  margin-bottom: 10px;
}

.form_container {
  display: inline;
}

#toDo{
  resize: none;
  font-family: "Noto Sans KR", sans-serif;
}

#for_phone{
  display: none;
}

.noticeContainer {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-width: 0.7px;
  list-style: none;
  width: auto;
  display: flex;
  justify-content: center;
}

.notice{
  text-align: center;
}

@media screen and (max-width: 200px) {
  .month_container {
    grid-template-columns: repeat(6, 70px);
    grid-template-rows: repeat(2, 30px);
  }
  #for_desk{
    display: none;
  }
  #for_phone{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
  }
  h1{
    font-size: 25px;
  }
  .date{
    font-size: 20px;
  }
  .description{
    font-size: 15px;
  }
  .notice{
    font-size: 15px;
  }
}




@media screen and (min-width:201px) and (max-width: 480px) {
  .month_container {
    grid-template-columns: repeat(6, 70px);
    grid-template-rows: repeat(2, 30px);
  }
  #for_desk{
    display: none;
  }
  #for_phone{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
  }
  .notice{
    font-size: 15px;
  }
}

@media screen and (min-width:481px) and (max-width: 768px) {
  .month_container {
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(2, 30px);
  }
}
