<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODOLIST</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/update_create.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
  </head>
  <body>
    <span id="todayMonth" class="todayMonth">Month</span>
    <span id='colon' class="todayMonth">/</span>
    <span id="todayDate" class="todayMonth">Date</span>
    <a id="title" href="/"><h1>TODOLIST</h1></a>
    <nav>
      <ul class="month_container">
        <li class="month" id="jan"><a href="/?month=1">1월</a></li>
        <li class="month" id="feb"><a href="/?month=2">2월</a></li>
        <li class="month" id="mar"><a href="/?month=3">3월</a></li>
        <li class="month" id="apr"><a href="/?month=4">4월</a></li>
        <li class="month" id="may"><a href="/?month=5">5월</a></li>
        <li class="month" id="jun"><a href="/?month=6">6월</a></li>
        <li class="month" id="jul"><a href="/?month=7">7월</a></li>
        <li class="month" id="aug"><a href="/?month=8">8월</a></li>
        <li class="month" id="sep"><a href="/?month=9">9월</a></li>
        <li class="month" id="oct"><a href="/?month=10">10월</a></li>
        <li class="month" id="nov"><a href="/?month=11">11월</a></li>
        <li class="month" id="dec"><a href="/?month=12">12월</a></li>
        
      </ul>
    </nav>
    <a class="for_create" href="/create"><i class="fas fa-plus-circle create_btn"></i></a>